site_name: Edge Compute Docs
site_description: Jetson & Raspberry Pi engineering documentation
site_url: ""
repo_url: ""
repo_name: ""

nav:
    - Home: index.md
    - Jetson:
        - Overview: md/jetson/index.md
        - Dimension: md/jetson/dimension.md
        - Block Diagram: md/jetson/block-diagram.md
        - Pinout: md/jetson/pinout.md
        - Specification: md/jetson/specification.md
        - Setup: md/jetson/setup.md        
        - Getting Started : md/jetson/getting_started.md 
        - Commands: md/jetson/commands.md        
        - GPIO Control: md/jetson/gpio.md        
        - Network: md/jetson/network.md        

    - Raspberry Pi:
        - Overview: md/raspberry/index.md
        - Dimension: md/raspberry/dimension.md
        - Block Diagram: md/raspberry/block-diagram.md
        - Pinout: md/raspberry/pinout.md
        - Specification: md/raspberry/specification.md
        - Setup: md/raspberry/setup.md        
        - Getting Started : md/raspberry/getting_started.md        

theme:
  name: material
  language: en
  custom_dir: docs/overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - navigation.expand
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight
    - toc.integrate
    - content.tabs.linked
    - header.autohide
    - announce.dismiss

  palette:
    - scheme: slate
      primary: indigo
      accent: cyan
    
  icon:
    repo: fontawesome/brands/github
    logo: material/robot-industrial


plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true    # tab’li içerik
  - pymdownx.tasklist:
      custom_checkbox: true    # [ ] / [x] checklist
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
