site_name: Edge Compute Docs
site_description: Jetson & Raspberry Pi engineering documentation
site_url: ""
repo_url: ""
repo_name: ""

nav:
  - Home: index.md
  - Raspberry Pi Board: md/raspberry/index.md
  - Jetson Board: md/jetson/index.md

theme:
  name: material
  language: en
  custom_dir: docs/overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky       # sekmeler sabit kalsın
    - navigation.sections          # sidebar bölümleri
    - navigation.top               # yukarı çık butonu
    - navigation.tracking
    - navigation.expand       
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - content.code.copy            # code-block copy
    - content.code.annotate
    - search.suggest
    - search.highlight
    - toc.integrate
    - content.tabs.linked     
    - header.autohide         
    - announce.dismiss   
  palette:
    - scheme: slate
      primary: indigo
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    logo: material/rocket-launch

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true    # tab’li içerik
  - pymdownx.tasklist:
      custom_checkbox: true    # [ ] / [x] checklist
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
